##################################
# Node / Angular
##################################
node_modules/
dist/
out-tsc/
.tmp/
.cache/

##################################
# Angular build / cache
##################################
.angular/
.angular/cache/

##################################
# Logs
##################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

##################################
# VS Code
##################################
.vscode/
.idea/

##################################
# Sistema Operativo
##################################
.DS_Store
Thumbs.db

##################################
# Entornos / secretos
##################################
.env
.env.*
!.env.example

##################################
# Archivos temporales
##################################
tmp/
temp/
*.tmp
*.swp

##################################
# Archivos de respaldo
##################################
*.bak
*.old
*.orig

##################################
# Tests / Coverage
##################################
coverage/

##################################
# Angular Universal (si luego usas SSR)
##################################
server/